.container{
    display: flex;
    height:100vh;
    align-items: center;
    justify-content: space-between;
    background-color: #e4edfe
}

form {
    display: block;
    position: relative
}
form .form-inner .form-group{
    display: block;
    width: 400px;
    margin-bottom: 30px;
}

.form-inner .form-group label{
    display: block;
    font-size: 14px;
    margin-bottom: 3px;
    color:#8a8d94;
    font-weight: bold;
}

form .form-inner .form-group input{
    width:40rem;
   border: 2px solid #64cefa;
   height: 3.5rem;
   background-color: #e4edfe;
   border-radius: 8px;
   margin-bottom:-5px
}

.form-main {
 padding-left: 4rem;
  
}
button{
    padding: 0.5rem 1rem;
    background-color:#64cefa;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor:pointer;
    margin-top: 0.5rem;
    width: 27rem;
    height: 45px;
    margin-left:6rem
}

#signUp p{
    font-size: 100px;
}

.form-main h3{
    font-size: 40px;
    margin-top: -1rem;
    font-weight: 300;
}

.form-main p{
    font-size: 20px;
    margin-bottom: 38px;
   color:#838383;
}

.checkBox{
    margin-bottom: 20px;
    margin-top: -14px;
    align-items: center;
}
.checkBox input{
    cursor: pointer;
    width:12px;
    color: #800080
}

.checkBox label{
    padding-left: 8px;
    font-size: 15px;
    color: #90ee90
}
    
form  input::placeholder{
    padding-left: 30px;
    color: #adb2bc;
}

.form-main .signup-footer {
    margin-left:185px;
    margin-top: 15px;

}
.form-main .signup-footer p{
    font-size: 15px;
}
.form-main .signup-footer span{
color:#64cefa;
text-decoration: underline;
cursor: pointer;
}
    

